:root {
  --header-height: 80px;
  --container-lg: 70%;
}

/* ## RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ## UTILS */

.container {
  width: 55%;
  margin: 0 auto;
  padding: 20px;

  /* debug */
  min-height: 200px;
}

.btn {
  background-color: #0160ff;
  padding: 5px 15px;
  color: white;

  cursor: pointer;
}

.btn.btn-no-bg {
  background-color: inherit;
  color: inherit;
}

/* ## HEADER */

.header {
  /* position: sticky;
  top: 0;
  z-index: 1; */

  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #818181;
  background-color: white;
}

.header_nav-left,
.header_nav-right {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-logo {
  flex-shrink: 0;
}

.header li {
  list-style: none;
  display: inline-block;
}

.header li a {
  text-decoration: none;
  color: inherit;
}

.header_nav-left-list li {
  margin-left: 25px;
}

.header_nav-right-list li {
  margin-right: 25px;
}

/* ## MAIN */

/* JUMBOTRON */

.jumbotron {
  background-color: #b3d0e7;
  padding-top: 70px;
}

.jumbotron-container.container {
  width: var(--container-lg);
}

.jumbotron-title {
  text-align: left;
  font-size: 4rem;
  font-weight: 800;
}

.jumbotron-main {
  display: flex;
}

.jumbotron-main-left {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 30px;
  margin: 100px 0 20px 0;
}

.jumbotron-main-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.btn.jumbo-btn {
  padding: 10px 20px;
}

.jumbotron-text {
  font-size: 1.1rem;

  color: rgb(59, 58, 58);
}

.jumbotron-image {
  position: relative;
  top: 100px;
}

/* RATE PLANS */

.rate-plans {
  /* debug */
  background-color: aquamarine;
  height: 500px;
  margin-top: 150px;
}

/* FIND PARTNER */

.find-partner {
  /* debug */
  background-color: blueviolet;
  margin-top: 50px;
}

/* CARD SECTION */

.card-section {
  /* debug */
  height: 500px;
  background-color: chartreuse;
  margin-top: 50px;
}

/* CLIENT */

.client-section {
  /* debug */
  height: 100px;
  background-color: black;
  margin-top: 50px;
}

/* SQUARE SECTION */

.square-section {
  /* debug */
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background-color: #b3d0e7;
}

/* FAQ */

.faq-section {
  /* debug */
  background-color: darkgoldenrod;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ## FOOTER */

.footer {
  background-color: black;
}

.footer-container.container {
  width: var(--container-lg);
  background-color: crimson;
}
